@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.showcard {
  display: block;
  padding-top: 20px;
  border-bottom: 1px solid color.scale($grey, $lightness: -10%);
  text-decoration: none;
  color: inherit;
  @include color-transition(border);

  &:hover {
    border-width: 3px;
    border-color: $gold-yellow;
    cursor: pointer;
  }

  &__info {
    display: flex;
    gap: 20px
  }

  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: $bold;

    &:hover {
      color: $dark-grey;
      @include color-transition(color);
    }

    &:visited {
      color: $black;
    }
  }

  &__year span,
  &__country span {
    font-weight: $medium;
    margin-right: 3px;
  }

  &__rate {
    display: flex;
    align-items: center;
  }

  &__average,
  &__reviews{
    padding-top: 2px;
  }

  &__average {
    margin-left: 3px;
  }

  &__reviews {
    margin-left: 7px;
    color: color.scale($white, $lightness: -30%);
  }

  &__overview{
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2rem;
  }
}