//colors
$white: #ffffff;
$black: #000000;
$light-black: #121212;
$dark-grey: #0000008a;
$grey: #eeeeee;
$gold-yellow: #f2c53a;
$selected-blue: #0497ff;

//fonts
$normal: 400;
$medium: 500;
$bold: 700;