@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.cast {
    &__card {
      flex: 1 0 185px;
      max-width: 185px;
      height: 420px;
      margin-bottom: 10px;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    }

    &__info {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px;
    }

    &__empty {
      height: 278px;
      @include flex-center(center, center);
      background-color: $dark-grey;
    }

    &__name {
      margin-top: 0.5rem;
      margin-bottom: 10px;
      font-size: 1.3rem;
    }

    &__character {
      color: $dark-grey;
      font-weight: $medium;
    }
}