@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navbar {
  width: 100%;
  height: 56px;
  margin-bottom: 20px;
  background-color: $light-black;

  &__container{
    @include flex-center(space-between, center);
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;
  }
}