@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.filters{
  @include flex-center(space-between,center);
  margin-bottom: 20px;

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__option {
    cursor: pointer;
    font-weight: $medium;

    &--selected {
        color: $selected-blue;
        text-decoration: underline;
      }
  }

  &__reverse {
    padding: 3px 5px 0px;
    cursor: pointer;
  }
}