@use '../../styles/variables' as *;
@use 'sass:color';

.searchcard {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 10px;
  color: $white;
  border-bottom: 1px solid color.scale($white, $lightness: -30%);
  text-decoration: none;

  &:hover {
    background-color: $dark-grey;
  }

  &__image,
  &__text,
  &__title,
  &__year{
    pointer-events: none;
  }

  &__image {
    max-width: 60px;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  &__year {
    color: color.scale($white, $lightness: -30%);
  }
}