@use '../../styles/variables' as *;

.error {
  display: grid;
  place-items: center;
  margin: 100px 20px 0;
  text-align: center;

  &__title,
  &__subtitle,
  &__status,
  &__message,
  &__link {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__title{
    font-size: 5rem;
  }

  &__subtitle,
  &__message {
    font-size:  1.5rem;
  }

  &__status {
    font-size: 4rem;
    font-weight: $medium;
  }
}